h2{font-family: fantasy;
	color:white;
}
p{color:white;
	font-family: cursive;
	font-size: 100%;
	text-align: center;
}
html{background-color: grey;}

img{
	inline-size: 100%;
}
p{
	display:flex;
	align-items: center;
}

.headshot {
	inline-block: 20px;
	margin-inline: 40%;
	padding-bottom: 1%;
	border-color: white;
	align-items: center;
}

.title{
	margin-inline: 40%;
	font-size: 100%;
}
section{
	display:flex;
	flex-direction: row;
	max-width: 15%;
}
.logos{
	display: flex;
	margin-inline: 40%;
	padding-bottom: 1%;
}


